<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="adminHMD professional admin dashboard template">
    <title>Charts | adminHMD</title>

    <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="static/assets/css/style.css">
</head>

<body>
<div class="admin-shell">
    <div class="">
        <main class="dashboard-content">
            <div class="container-fluid px-3 px-lg-4 py-4">

                <section class="row g-3 mt-1">
                    <div class="col-12 col-xl-4">
                    </div>
                    <div class="col-12 col-xl-4">
                        <div class="panel h-100">
                            <div class="panel-header">
                                <div><h2 class="h5 mb-1 section-title"><i class="bi bi-pie-chart"
                                                                          aria-hidden="true"></i><span>Tickets Category</span>
                                </h2>
                                    <p class="text-muted mb-0">Tickets distribution by category.</p></div>
                              <div>
                                Total Tickets: {{ total_tickets_count }}
                              </div>
                            </div>
                            {% for i in percentage_wise_categories %}
                            <div class="legend-list mt-4">
                                <div><span class="legend-dot {{ i['color_class'] }}"></span>
                                    {{ i['category_name'] }} (Count: {{ i['count'] }})
                                    <strong>{{ "{:.2f}".format(i['percentage']) }}%</strong>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </section>
            </div>
        </main>

    </div>
</div>

<script src="static/assets/js/bootstrap.bundle.min.js"></script>
<script src="static/assets/js/main.js"></script>
</body>
</html>
